<div class="row">
    <div class="col-md-12">
        <div class="list-group" >
            <a  href="javascript:void(0);" class="list-group-item active">书籍类型</a>
            <a  style="cursor: pointer;" ng-click="queryAllBook()" class="list-group-item">全部</a>
            <a  style="cursor: pointer;" ng-click="typeQuery('恐怖')" class="list-group-item">恐怖</a>
            <a  style="cursor: pointer;" ng-click="typeQuery('悬疑')" class="list-group-item">悬疑</a>
            <a  style="cursor: pointer;" ng-click="typeQuery('探险')" class="list-group-item">探险</a>
            <a  style="cursor: pointer;" ng-click="typeQuery('学习')" class="list-group-item">学习</a>
        </div>
    </div>
</div>
