<div ng-controller="formCtrl">
    <div class="row">
        <div class="col-md-12">
        	<a ui-sref="addbook" class="btn btn-primary">新增书籍</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" >
            <div>
                <div class="table">
                <table class="table" ng-controller="bookFormCtrl">
	                <tr>
		                <td>bId</td>
		                <td>书籍名称</td>
		                <td>类型</td>
		                <td>价格</td>
		                <td>日期</td>
		                <td>状态</td>
		                <td>作者</td> 
		                <td>操作</td>           
	                </tr>
	                 <tr  ng-repeat="book in books">
		                <td >{{book.bId}}</td>	
		                <td ng-click="bookDetail(book)" style="cursor: pointer;">{{book.bName}}</td>
		                <td>{{book.bType}}</td>
		                <td>{{book.bPrice}}</td>
		                <td>{{book.bDate | date:'yyyy-MM-dd'}}</td>
		                <td>{{book.bStatue}}</td>
		                <td>{{book.bAuthor}}</td>		              
		                <td> <button class="btn btn-default" ng-click="updateBook(book)">编辑</button></td>            
	                </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>